head
	link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/journal/bootstrap.min.css", rel="stylesheet")
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	style.
		#heroPhoto {
			margin: auto;
		}
	script.
		function imgError(image) {
			image.onerror = ""
			image.src = "http://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/300px-Flag_of_the_United_States.svg.png";
			console.log(image)
			return true
		}
body
	.container
		.row
			br
			.col-sm-6(style = "display:flex")
				img(src = "/img/#{NameHashd}", onerror = "imgError(this)")#heroPhoto.img-responsive
			.col-sm-6
				h1 #{Rating} #{Name}
				h3 #{Service}, #{Component}
				br
				h4 Age #{Age}
				h4 #{City}, #{State}, #{Country}
				h4 #{Unit}
				br
				h4 Deceased #{DateOfDeath}
				h4 #{CasualtyCity}, #{CasualtyCountry}
				br
		.row
			.col-sm-12
				br
				p.lead Forage gentrify Marfa bespoke sustainable, before they sold out shabby chic dreamcatcher cardigan heirloom actually cronut church-key hoodie. Polaroid Schlitz leggings narwhal, tofu lumbersexual dreamcatcher Banksy. Yr iPhone pug ennui biodiesel. Tattooed lo-fi fap, try-hard bicycle rights flannel ennui PBR&B Truffaut keytar fanny pack gentrify paleo brunch. Sustainable Thundercats pop-up, whatever chillwave Godard direct trade biodiesel heirloom letterpress Shoreditch literally pickled next level Blue Bottle. Tofu raw denim swag, vinyl single-origin coffee chambray listicle roof party occupy Banksy locavore. Master cleanse Truffaut mustache 90's, church-key deep v iPhone Portland PBR Odd Future aesthetic slow-carb try-hard gentrify bitters.

				p.lead Fashion axe normcore four dollar toast, 8-bit Williamsburg hella flexitarian food truck actually Vice hashtag distillery tofu pork belly direct trade. Forage tote bag tilde keffiyeh keytar +1 drinking vinegar. American Apparel aesthetic iPhone bespoke scenester kale chips raw denim, Portland kogi selvage ethical butcher plaid. Bicycle rights hoodie sustainable health goth. Wolf chillwave before they sold out fanny pack vinyl, taxidermy tousled plaid Austin ennui Odd Future. Irony Vice fashion axe Williamsburg, 90's meh scenester kogi hella. Scenester brunch direct trade gluten-free, synth kitsch photo booth sriracha chillwave stumptown pug fashion axe hashtag.

				p.lead Drinking vinegar stumptown messenger bag scenester lo-fi fingerstache. Gluten-free pork belly polaroid, craft beer keffiyeh ugh cornhole lomo keytar deep v mlkshk pour-over. Deep v sartorial cold-pressed four dollar toast, Williamsburg tote bag Shoreditch PBR&B trust fund wolf. Whatever seitan selvage locavore Shoreditch Marfa. Flannel meggings four loko, distillery pop-up Etsy Tumblr drinking vinegar church-key. Paleo hella Thundercats 8-bit actually. Listicle viral pork belly put a bird on it, authentic taxidermy chillwave aesthetic Etsy asymmetrical Intelligentsia master cleanse mixtape four dollar toast chia.
